body {
    text-align: center;
    background-color: #f0dda1;
}
div {
    margin-top: 15px;
}
.image-section{
    display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
     margin-left: 25px;
    background-color: white;
}
img{
    
    border-style: solid;
  border-color: black;
  border: 1px;
  border-radius: 80px;
  padding: 10px;
  width: 450px;
}
